# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

._.DS_Store
.DS_Store

obj/*
bin/libs/*

bin/raspi2030
bin/raspi2030_debug
bin/readMe.txt
bin/data/log.txt
